<div class="login-container">
  <form>
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email">
      <div>
        <small class="error">Email is required</small>
        <small class="error">Email must be a valid email address</small>
      </div>
    </div>

    <div>
      <label for="password">Password</label>
      <input id="password" formControlName="password" type="password">
      <div>
        <small class="error">Password is required</small>
        <small class="error">Password must be at least 6 characters</small>
      </div>
    </div>

    <button type="submit">Login</button>
  </form>
</div>

<div class="list">
  <ul>
    <li>
      pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp
    </li>
    <li>
      Horário de atendimento: 08h - 20h (Segunda a Sábado)
    </li>
    <li>
      Desenvolvido por Alura. Projeto fictício sem fins comerciais
    </li>
  </ul>
</div>
